.header {
	grid-area: header;
	position: fixed;
	top: 0;
	z-index: 1;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 48px;
	text-transform: uppercase;
	background-color: darken($color-base-medium, 30%);

	.btn-menu {
		left: 15px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		background-color: transparent;
		border: none;
		outline: none;
		@include centerer(false, centerer);

		&.active{
			.hamburger{
				background: rgba(0, 0, 0, 0);
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
				&::before {
					top: 0;
					left: 0;
					transform: rotate(45deg);
				}
				&::after {
					top: 0;
					left: 0;
					transform: rotate(135deg);
				}
			}
		}
		.hamburger{
			width: 26px;
			height: 4px;
			background-color: $color-base-light;
			box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
			transition: .3s;
			@include centerer;

			&::before,
			&::after{
				width: 26px;
				height: 4px;
				content: "";
				background-color: $color-base-light;
				box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
				transition: .3s;
				@include centerer;
			}
			&::before {
				top: - 6px;
			}
			&::after {
				top: 10px;
			}
		}
	}

	@include if-tablet-portrait{
		display: grid;
		grid-template-columns: 45% 55%;
		grid-template-areas: "logo headerContent";
		align-content: center;
		height: 95px;

		.btn-menu {
			display: none;
		}
	}
}

.header_content {
	grid-area: headerContent;
	position: fixed;
	left: -80%;
	width: 80%;
	height: 100%;
	background-color: lighten($color-base-medium, 10%);
	transition: $menu-mobile-transition;

	.logo{
		position: fixed;
		top: 15px;
		left: 50%;
		grid-area: logo;
		font-family: $brand-font-family;
		font-size: $font-size-h5;
		transform: translateX(-50%);

		a {
			color: $color-base-light;
		}
	}

	&.active{
		left: 0;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
		transition: $menu-mobile-transition;

		.logo {
			@include centerer(true, false);

			top: 45px;

			a {
				color: darken($color-base-medium, 40%);
			}
		}
	}

	@include if-tablet-portrait {
		position: static;
		width: 100%;
		background: none;

		.logo{
			@include centerer(false, true);

			left: 50px;
			a {
				color: #FFFFFF;
			}
		}
	}
}
