.posts-list {
	grid-area: main;
	display: grid;
	padding: 15px 10px;
	grid-auto-rows: 120px;
	gap: 10px;
	.post {
		position: relative;
		font-size: $font-size-h2;
		color: $base-color-light;
		background-color: $base-color-medium;
		border-radius: 5px;
	}
	@include if-mobile-landscape {
		grid-auto-rows: 220px;
		grid-template-columns: repeat(2, 1fr);
	}

	@include if-tablet-portrait {
		grid-template-columns: repeat(3, 1fr);
		padding: 25px;
		gap: 20px;
	}
	@include if-desktop{
		grid-auto-rows: 315px;
	}
}

.post_number {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}
