.navigation {
	margin-top: 115px;
	li {
		a {
			display: block;
			padding: 15px 30px;
			margin: 1px 0;
			font-size: $font-size-h6;
			color: darken($base-color-medium, 30%);
			text-transform: capitalize;
			&:hover {
				color: darken($base-color-medium, 50%);
			}
		}
	}
	@include if-mobile-landscape {
		li {
			a {
				padding: 15px 0;
				text-align: center;
			}
		}
	}
	@include if-tablet-portrait {
		ul {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 95px;
		}
		li {
			height: 100%;
			line-height: 95px;
			text-align: center;
			cursor: pointer;
			a {
				display: block;
				width: 100%;
				font-size: $font-size-h5;
				text-transform: capitalize;
			}
		}
	}
}
