.navigation {
	margin-top: 115px;
	li {
		a {
			display: block;
			padding: 15px 30px;
			margin: 1px 0;
			font-size: $font-size-h6;
			color: darken($color-base-medium, 30%);
			text-transform: capitalize;
			transition: color .3s ease-in;
			&:hover {
				color: lighten($color-base-dark, 20%);
			}
		}
	}
	@include if-mobile-landscape {
		li {
			a {
				padding: 15px 0;
				text-align: center;
			}
		}
	}
	@include if-tablet-portrait {
		margin-top: 0;
		ul {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 95px;
		}
		li {
			height: 100%;
			line-height: 95px;
			text-align: center;
			cursor: pointer;
			a {
				display: block;
				width: 100%;
				padding: 0;
				font-size: $font-size-h5;
				color: $color-base-light;
				text-transform: capitalize;

				&:hover {
					color: lighten($color-base-dark, 20%);
				}
			}
		}
	}
}
