.navigation {
	grid-area: navigation;
	position: fixed;
	left: -80%;
	width: 80%;
	height: 100%;
	background-color: lighten($base-color-medium, 10%);
	transition: $menu-mobile-transition;
	a {
		color: $base-color-dark;
		text-transform: capitalize;
		font-size: $font-size-h6;
	}

	&.active{
		left: 0;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
		transition: $menu-mobile-transition;
	}
	@include if-tablet-portrait {
		ul{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 95px;
		}
		li {
			height: 100%;
			line-height: 95px;
			text-align: center;
			cursor: pointer;
			a{
				display: block;
				width: 100%;
				font-size: $font-size-h5;
				text-transform: capitalize;
			}
		}
	}
}