/* Menu 'width' when it is open in mobile
	 ========================================================================== */
$menu-mobile-transition: left .3s ease-in;

/* Breakpoints
	 ========================================================================== */
$mobile-portrait-width: 480px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;