<header class="header">
	<button class="btn-menu " id="btn-menu">
		<i class="hamburger"></i>
	</button>
	<div class="header_content" id="header-content">
		<h1 class="logo" id="logo">
			<a href="./">redradix</a>
		</h1>

		<nav class="navigation">
			<ul>
				<li>
					<a href="javascript:;">about</a>
				</li>
				<li>
					<a href="javascript:;">clients</a>
				</li>
				<li>
					<a href="javascript:;">works</a>
				</li>
				<li>
					<a href="javascript:;">contact</a>
				</li>
			</ul>
		</nav>

	</div>
</header>
