html {
	font-size: 62.5%; /* Make use of 'rem' easier */
}

body {
	font-size: $font-size-body;
	font-family: $main-font-family;
	font-weight: 600;
}

a {
	color: $base-color-light;
	text-decoration: none;
	&:hover {
		color: $brand-color;
	}
 }